.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
.subContainer {
    width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
}

@media screen and (max-width: 1560px) {
  .subContainer {
    flex-direction: column;
  }
}